<!-- navbar -->
<nav class="navbar navbar-expand-md navbar-light">
    <div class="container-xxl">
      <a class="navbar-brand" href="/">
          <span class="text-secondary fw-bold"> 
            <i class="bi bi-diagram-3"></i> 
            Consultancy by One One Tech 
          </span>              
        </a>
        
     <!-- toggle button for nobile nav -->

     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
      <!-- navbar links -->
      <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
        <ul class="navbar-nav">
        
          <li class="nav-item">
            <a class="nav-link" href="/professionals">Our Professionals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#reviews">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#contact">Get in Touch</a>
          </li>

          <% if(user) { %>
            <li class="nav-item">
              <a class="nav-link bg-light" href="/">
                Welcome, <%= user.email %>
              </a>
            </li>

            <!-- for buttons in nav -->
          
            <li class="nav-item ms-2">
              <a class="nav-link btn btn-outline-secondary" href="/logout">Log out</a>
            </li>
          %>          
          
          <% } else { %>
              <li class="nav-item ms-2">
                <a class="nav-link btn btn-outline-secondary" href="/login">Log in</a>
              </li>
              
              <li class="nav-item ms-2">
                <a class="nav-link btn btn-light" href="/signup">Sign up</a>
              </li>

            
            
            </ul>
          <% } %>
      
      </div>
    </div> 
</nav>


